[Unit]
Description=Gunicorn instance to serve the Flask application
After=network.target

[Service]
User=runner
Group=www-data
WorkingDirectory=/site
Environment="PATH=/site/myvenv/bin"
ExecStart=/site/myvenv/bin/gunicorn --workers 3 --bind unix:app.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
