<!DOCTYPE html>
<html>
<head>
<style>
    body {align-items: center; margin-top: 150px;}
    p1 {
        font-size: 25px; 
        font-family: 'Courier New', Courier, monospace;
    }
    .maindiv {
        text-align: center;
        width: 50%;
        margin: auto;
    }
    img {
        margin-top: 10px;
        padding: 10px 20px;
        width: 50%;
    }
    img:hover {
        box-shadow: 0 0 5px;
    }
</style>
</head>
<body>
    <div class="maindiv">
        <p1>Welcome to your first application powered by: </p1>
        <img src="./static/nginx.png">
        <img src="./static/gunicorn.png">
        <img src="./static/flask.png">
    </div>
</body>
</html>